html, body{
    background-color: white;
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    
}

#gameArea{
    height: 100%;
    width: 100%;
    font-family: 'Anton', sans-serif;
}

.btn {
    display: inline-block;
    height: 100%;
    width: 40%;
    padding: 15px 32px;
    margin-bottom: 20px;
    font-family: 'Anton', sans-serif;
    color: white;
    background-color: #FAD33B;
    font-size: 2vw;
    text-align: center;
    cursor: pointer;
    border: none;
    border-radius: 50px;
}

.btn:hover{
    background-color: black;
}

.title-wrapper, .newGameWrapper{
    height: 50%;
    width: 96%;
    margin: auto;
}

.joinGameWrapper{
    height: 100%;
    width: 96%;
    margin: auto;
    display: flex;
    align-items: center;
}

.title, .gameInfo, .lobbyUsers{
    margin: auto;
    width: 100%;
    text-align: center;
}

.lobbyNum{
    font-size: 2vw;
    margin: 0px;
    margin-bottom: 20px;
}

.input{
    width: 40%;
    margin: auto;
    margin-bottom: 30px;
    padding: 12px 20px;
    border-radius: 10px;
    box-sizing: border-box;
}

.buttons{
    width: 100%;
    text-align: center;
}

#link{
    font-size: 6vw;
    margin: 0px;
}

.userTable{
    margin: auto;
    margin-bottom: 30px;
    font-size: 2vw;
}

.userTable, th, td{    
    border: 2px solid #FAD33B;
    border-collapse: collapse;
    padding: 15px;
    width:50%;
}

.userTable th{
    background-color: #FAD33B;
    color: white;
}

.left{
    float: left;
    width: 50%;
    text-align: center;
}

.right{
    float: right;
    width: 50%;
    text-align: center;
}